@model ArchitectureProjectManagement.Models.ProjectDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers

@{
    ViewData["Title"] = "Details";
}
@*<h4>@Model.ProjectName </h4>*@
<p>
    <!--<a asp-action="Create" class="" btn-btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Create New</a>-->
 
</p>
@*<input type="hidden" asp-for="@Model.ProjectId" />*@

<div class="row">
    <div class="col-md-6">
        <h6>PROJECT DETAILS</h6>
        @Html.HiddenFor(model => Model.ProjectId)
        <a asp-action="Edit" asp-controller="Project" class="btn btn-info" asp-route-id="@Model.ProjectId"><i class="fa " aria-hidden="true"></i>Update Project Details</a> 
        <a asp-action="Index" asp-controller="ProjectStatus" class="btn btn-info" asp-route-id="@Model.ProjectId"><i class="fa fa-trophy" aria-hidden="true"></i>View Project Progress</a> 
        <!--a asp-page="/Details" class="btn-btn-info" asp-route-id="model.ProjectId">Details</a>-->
        <!-- <a asp-page="/Delete" class="btn-btn-danger" asp-route-id="model.ProjectId">Delete</a> -->
        <br/>
        <br/>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.ProjectName)</strong></label>
            @Html.DisplayFor(model => model.ProjectName)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.ProjectDescription)</strong></label>
            @Html.DisplayFor(model => model.ProjectDescription)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.MunicipalRefNo)</strong></label>
            @Html.DisplayFor(model => model.MunicipalRefNo)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.DateofSubmission)</strong></label>
            @Html.DisplayFor(model => model.DateofSubmission)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.MunicipalAssessmentOfficer)</strong></label>
            @Html.DisplayFor(model => model.MunicipalAssessmentOfficer)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.AssessmentOfficerContactNo)</strong></label>
            @Html.DisplayFor(model => model.AssessmentOfficerContactNo)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.AssessmentOfficerEmail)</strong></label>
            @Html.DisplayFor(model => model.AssessmentOfficerEmail)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.DateCreated)</strong></label>
            @Html.DisplayFor(model => model.DateCreated)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.DateModified)</strong></label>
            @Html.DisplayFor(model => model.DateModified)
        </div>
        <br />
       
    </div>

    <div class="col-md-6">
        <h6>PROPERTY DETAILS</h6>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.PropertyName)</strong></label>
            @Html.DisplayFor(model => model.PropertyName)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.PropertySGNo)</strong></label>
            @Html.DisplayFor(model => model.PropertySGNo)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.PropertyERF_LotNo)</strong></label>
            @Html.DisplayFor(model => model.PropertyERF_LotNo)
        </div>
        <br/>
        <h6>CLIENT DETAILS</h6>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.PropertyOwnerFirstName)</strong></label>
            @Html.DisplayFor(model => model.PropertyOwnerFirstName)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.PropertyOwnerLastName)</strong></label>
            @Html.DisplayFor(model => model.PropertyOwnerLastName)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.PropertyOwnerEmail)</strong></label>
            @Html.DisplayFor(model => model.PropertyOwnerEmail)
        </div>
        @* <div>
            <label><strong>@Html.DisplayNameFor(model => model.PropertyOwnerContactNo)</strong></label>
            @Html.DisplayFor(model => model.PropertyOwnerContactNo)
        </div>*@


        <br />
        <h6>DRAUGHTSMAN DETAILS</h6>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.DraughtsmanFirstName)</strong></label>
            @Html.DisplayFor(model => model.DraughtsmanFirstName)
        </div>
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.DraughtsmanLastName)</strong></label>
            @Html.DisplayFor(model => model.DraughtsmanLastName)
        </div>
        @* <div>
            <label><strong>@Html.DisplayNameFor(model => model.DraughtsmanContactNo)</strong></label>
            @Html.DisplayFor(model => model.DraughtsmanContactNo)
        </div>*@
        <div>
            <label><strong>@Html.DisplayNameFor(model => model.DraughtsmanEmail)</strong></label>
            @Html.DisplayFor(model => model.DraughtsmanEmail)
        </div>
    </div>
    <a asp-action="Create" asp-controller="ProjectStatus" class="btn btn-info" asp-route-id="@Model.ProjectId">Assign Project Milestones</a>
</div>


@section Scripts{

}
